h1 {
    font-family: 'English Towne';
    color:red;
    font-size: 60px;
}

h2 {
  font-family: 'Times New Roman';
  font-weight: bolder;
  color: white;
  font-size: 24px;
  padding: 8px;
}

body {
  font-size: 14;
  color: black;
  background-color: violet;
}

.bg-white {
  border-radius: 5px;
  padding: 8px;
  color: violet;
  font-weight: bold;
  background-color: white;
}

.button-green {
  background-color: green;
}


  .alert-warning{
    background-color: #fff;
    color: red;
  }

.blink {
  animation: 2s linear infinite condemned_blink_effect;
}

@keyframes condemned_blink_effect {
  0% {
    visibility: hidden;
  }
  50% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}
